@{
    ViewData["Title"] = "Home Page";

}
@model HomeViewModel

<div class="text-center">
    @using (Html.BeginForm("VersionInput", "Home", FormMethod.Post))
    {
        <label for="version">Version</label>
        <input type="text" name="version" />
        <button class="btn btn-primary">Submit</button>

    }

</div>
<div class="text-center">
    @Html.ValidationMessageFor(model => model.Version, "", new { @class = "text-danger" })
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Software</th>
            <th scope="col">Version</th>
        </tr>
    </thead>
    <tbody>
        @for (var i = 0; i < Model.Softwares.Count; i++)
        {
            <tr>
                <th scope="row">@(i + 1)</th>
                <td>@Model.Softwares[i].Name</td>
                <td>@Model.Softwares[i].Version</td>

            </tr>
        }
    </tbody>
</table>
