@{
    ViewData["Title"] = "Home Page";

}
@model HomeViewModel

<div class="text-center">
    @using (Html.BeginForm("VersionInput", "Home", FormMethod.Post))
    {
        <label for="version">Version</label>
        <input type="text" name="version" />
        <button class="btn btn-primary">Submit</button>
    }

    @Model.Version
</div>
